@model RFC.Models.CreateNew

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="right">
    <div class="header" style="display:flex; justify-content: space-between;">
        <h1 style="display:inline-block; width:auto; vertical-align: top;">Details</h1>
        <div class="buttons" style="margin-top: 0px; display:inline-block;width:auto;vertical-align: top;">
            <div class="otherButtons">
                <a style="width: 100%" class="button submit btn btn-default" asp-area="" asp-controller="CreateNew" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
    <div class="rightContent">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Requested Due Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.ID
                    </td>
                    <td>
                        @Model.Priority
                    </td>
                    <td>
                        @Model.Product
                    </td>
                    <td>
                        @Model.CustomersAffected
                    </td>
                    <td>
                        @Model.DueDate
                    </td>
                    <td>
                        @(Model.Approved == RequestStatus.Accept ? "Accepted" : (Model.Approved == RequestStatus.Reject ? "Rejected" : "Pending"))
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Questions:</h3>
        <table class="table" style="table-layout: fixed">
            <tbody>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.ReasonForChange)</button>
                        <div class="content">
                            <p class="p-wrapped">@Model.ReasonForChange</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.ChangeDescription)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.ChangeDescription</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.SystemAffected)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.SystemAffected</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.customers)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.customers</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.WhoPerforming)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.WhoPerforming</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.RiskOfChange)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.RiskOfChange</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.RiskNoChange)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.RiskNoChange</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.VerifyAfter)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.VerifyAfter</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.RollBackPlan)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.RollBackPlan</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.DueDate)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.DueDate</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.WhyDueDate)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.WhyDueDate</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" id="Question" class="collapsible">@Html.DisplayNameFor(model => model.ServiceImpact)</button>
                        <div class="content" style="width: 100%">
                            <p class="p-wrapped">@Model.ServiceImpact</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="buttons" style="display: flex; justify-content: space-around">
            <a class="btn btn-default button btn-danger" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
            <a class="btn btn-default button @(Model.Approved == RequestStatus.Pending || Model.Approved == RequestStatus.Reject ? "btn-success" : "btn-warning")" asp-action="Approve" asp-route-id="@Model.ID">@(Model.Approved == RequestStatus.Pending || Model.Approved == RequestStatus.Reject ? "Accept" : "Reject")</a>
        </div>
    </div>
</div>


<style>

    .p-wrapped {
        word-break: break-all;
        white-space: normal
    }

    #Question:focus {
        outline: none;
    }
</style>


<script>

    let coll = document.getElementsByClassName("collapsible");
    for (let i = 0; i < coll.length; i++) {
        let question = coll[i];
        let content = question.nextElementSibling;

        question.addEventListener("click", function () {
            if (content.style.display == "" || content.style.display == "block") {
                content.style.display = "none";
                if (localStorage.getItem('IsDarkMode') == '1') {
                    question.style.background = "#000000";
                }
                else if (localStorage.getItem('IsDarkMode') == '0') {
                    question.style.background = "#f3f3f3";
                }

            } else {

                content.style.display = "block";
                if (localStorage.getItem('IsDarkMode') == '1') {
                    question.style.background = "#303030";
                }
                else if (localStorage.getItem('IsDarkMode') == '0') {
                    question.style.background = "#d2d2d2";
                }
            }
        });
    }

</script>