
@model PaginatedList<RFC.Models.CreateNew>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div id="right">
    <div class="header" style="display:flex; justify-content: space-between;">
        <h1 style="display:inline-block; width:auto; vertical-align: top;">Requests</h1>
        <div class="buttons" style="margin-top: 0px; display:inline-block;width:auto;vertical-align: top;">
            <div class="otherButtons">
                <a style="width: 100%" class="button submit btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
    <div class="rightContent">
        @using (Html.BeginForm())
        {
            <p>
                Find in
                @Html.DropDownList("ColumnSelect", "Select a Column")
                by:
                @Html.TextBox("searchString")
                @Html.TextBox("DateTo")
                <ej-date-range-picker id="DateRange" date-format="dd/MM/yyyy" width="200px"></ej-date-range-picker>
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.CustomerNameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.ProductNameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Requested Due Date", "Index", new { sortOrder = ViewBag.RequestedDueDateSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("RFC Type", "Index", new { sortOrder = ViewBag.RFCTypeSortParm })
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="d-table-row" id="table-row" data-href=@("/CreateNew/Details/" + item.ID)>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomersAffected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="buttons">
            <div class="formButtons">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="button submit btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="button submit btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>


<style>
    #table-row td:hover {
        cursor: pointer;
    }
</style>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var input = document.getElementById("searchString");
    var dateRangeTo = document.getElementById("DateTo");
    dateRangeTo.type = "date";
    dateRangeTo.format = "{0:yyyy-MM-dd}";

    window.onload = testfunction;

    $('#ColumnSelect').on('change', function () {
        var index = $(this).find('option:selected').index();

        if (index == 5) {
            dateRangeTo.value = "";
            input.type = "date";
            input.format = "{0:yyyy-MM-dd}";
            dateRangeTo.style.display = "inline-block";
        } else {
            input.type = "text";
            input.format = null;
            dateRangeTo.innerHTML = "";
            dateRangeTo.style.display = "none";
        }
        input.value = "";
    })

    function testfunction() {

        var columnselect = document.getElementById("ColumnSelect");

        if (columnselect.options[columnselect.selectedIndex].text == "Requested Due Date") {
            input.type = "date";
            input.format = "{0:yyyy-MM-dd}";
            dateRangeTo.style.display = "inline-block";
        }
        else {
            dateRangeTo.style.display = "none";
        }
    }


</script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $(".d-table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>

@*Credit to https://www.tutorialsplane.com/bootstrap-make-table-row-clickable/*@