@model RFC.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="right">
        <div class="header">
            <div class="header" style="display:flex; justify-content: space-between;">
                <h1 style="display:inline-block; width:auto; vertical-align: top;">Are you sure?</h1>
                <div class="buttons" style="margin-top: 0px; display:inline-block;width:auto;vertical-align: top;">
                    <div class="otherButtons">
                        <a style="width: 100%" class="button submit btn btn-default" asp-area="" asp-controller="Admin" asp-action="Details" asp-route-id="@Model.ID" >Go Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightContent">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameParm })
                        </th>
                        <th>
                            @Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.RoleSortParam })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.Name
                        </td>
                        <td>
                            @Model.Role
                        </td>
                    </tr>
                </tbody>
            </table>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Yes" class="btn btn-danger" />
                <a class="btn btn-info" asp-action="Index">No</a>
            </form>
        </div>
    </div>