@model PaginatedList<RFC.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div id="right">
    <div class="header" style="display:flex; justify-content: space-between;">
        <h1 style="display:inline-block; width:auto; vertical-align: top;">Manage Users</h1>
        <div class="buttons" style="margin-top: 0px; display:inline-block;width:auto;vertical-align: top;">
            <div class="otherButtons">
                <a style="width: 100%" class="button submit btn btn-default" asp-area="" asp-controller="Administration" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
    <div class="rightContent">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameParm })
                    </th>
                    <th>
                        @Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.RoleSortParam })
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="d-table-row" id="table-row" data-href=@("/Admin/Details/" + item.ID)>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="buttons">
            <div>
                <a style="width: 100%" class="button submit btn btn-default" asp-area="" asp-controller="Admin" asp-action="Create">Create</a>
            </div>
            <div class="formButtons">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="button submit btn btn-default @(!Model.HasPreviousPage ? "disabled" : "")">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="button submit btn btn-default @(!Model.HasNextPage ? "disabled" : "")">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>


<style>

    #table-row td:hover {
        cursor: pointer;
    }
</style>


<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function ($) {
        $(".d-table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });</script>
